VITE_SUPABASE_URL=https://acitqhoncjqjvkkrdxke.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFjaXRxaG9uY2pxanZra3JkeGtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU2ODUzNzgsImV4cCI6MjA3MTI2MTM3OH0.Oz_cIU9x8h0XxG9YlyxCNUF9YDsMPlwDqvI3rrV8Bsg
